<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="peterworlinhotmail.onmicrosoft.com" />
    <add key="ida:ClientId" value="28b6d36b-658f-4f38-8c2f-4e17ec17c5cf" />
    <!-- ClientId of this client in AAD-->
    <add key="ida:RedirectUri" value="http://localhost/dontmatter" />
    <!-- Redirect URL of this client in AAD-->

    <!-- Below is the App ID URI and the service address where the application resides-->
    <!-- These two values must go together as a pair -->
    <!-- This is what we are getting a token for-->
    <!-- The AppService on the server has slot specific values to allow calls from particular tenants-->
    
    <!--
    
    Developer testing locally
    
     
    <add key="ApiResourceId" value="https://peterworlinhotmail.onmicrosoft.com/employeews" />
    <add key="ApiBaseAddress" value="https://localhost:44300/" />

    -->

    <!--     
    Testing Site - Contains the Nightly Build
 
         -->
    
    <add key="ApiResourceId" value="https://peterworlinhotmail.onmicrosoft.com/employeewstest" />
    <add key="ApiBaseAddress" value="https://employeews-test.azurewebsites.net/" /> 
    
 
    
    <!-- 
    
    Live Testing
    
    <add key="ApiResourceId" value="https://peterworlinhotmail.onmicrosoft.com/employeewslive" />
    <add key="ApiBaseAddress" value="https://employeews.azurewebsites.net/" /> 
         
     -->
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>