<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.windows.net/{0}" />
    <add key="ida:Tenant" value="peterworlinhotmail.onmicrosoft.com" />
    <add key="ida:ClientId" value="28b6d36b-658f-4f38-8c2f-4e17ec17c5cf" />
    <!-- ClientId of this client in AAD-->
    <add key="ida:RedirectUri" value="http://localhost/dontmatter" />
    <!-- Redirect URL of this client in AAD-->

    <add key="ApiResourceId" value="https://peterworlinhotmail.onmicrosoft.com/employeews" />
    <add key="ApiBaseAddress" value="https://localhost:44300/" />
    <!--Base Address of the web api we want to use-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>